@tailwind base;
@tailwind components;
@tailwind utilities;


.moving-text:hover{
  animation-play-state: paused;
}

/* The animation */
@keyframes marquee{
  0%{transform: translateX(100%);}
  100%{transform: translateX(-100%);}
}

/* media query to enable animation for only those who want it */
@media (prefers-reduced-motion: no-preference) {
  .moving-text{
      animation: marquee 15s linear infinite;
  }
}